.mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 86%;
  margin-top: 50px;
  background-color: #00224f;
  padding: 50px;
  color: #fff;
  gap: 20px;
}

.mailInputContainer > input {
  width: 300px;
  height: 30px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
}

.mailInputContainer > button {
  height: 50px;
  background-image: linear-gradient(to bottom right, #0071c2, #ffbf00);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}
.mailInputContainer:hover > button {
  font-weight: 600;
  background-image: linear-gradient(to bottom left, #ffbf00, #0071c2);
}
