.header {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: #003580;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerListItem.active {
  border: 1px solid #ea4c46;
  padding: 10px;
  border-radius: 20px;
}

.headerDescription {
  margin: 20px 0px;
}

.headerButton {
  background-color: #0071c2;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
}
