.fp2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1024px;
}

.fpItem2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.fpImage2 {
  width: 130px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.fpName2 {
  font-weight: 600;
  font-size: 12px;
}
.fpDesc {
  font-weight: 500;
  font-size: 10px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
